<body>

  <nav>

    <%= render partial: "render/common_nav" %>

  </nav>

  <div class="container" style="margin-top: 15px;">
   <div class="row ">
     <div class="col-md-12">
       <div class="row">
         <div class="col-md-9" style="margin-bottom: 15px;">
          <div class="card" style="background: #e9e9e9;">
            <div class="card-body">
              <div class="jumbotron nav_nav_subtitle_picture"
              style="background-image: url(<%= asset_path "common/article-background.jpg"%>); background-size:1500px 250px;">
              <div class="text-center" style="font-size: 60px;"><strong>Book</strong></div>
            </div>
            <h1 class="text-center"><strong>コンビニ人間</strong></h1>
            <span class="subtitle text-center"><strong>著者：村田 沙耶香</strong></span>
            <p class="card-text">
              <div class="article_nav_content">
                <article class="article_margin">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;36歳未婚女性、古倉恵子。大学卒業後も就職せず、コンビニのバイトは18年目。これまで彼氏なし。オープン当初からスマイルマート日色駅前店で働き続け、変わりゆくメンバーを見送りながら、店長は8人目だ。<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;日々食べるのはコンビニ食、夢の中でもコンビニのレジを打ち、清潔なコンビニの風景と「いらっしゃいませ!」の掛け声が、毎日の安らかな眠りをもたらしてくれる。仕事も家庭もある同窓生たちからどんなに不思議がられても、完璧なマニュアルの存在するコンビニこそが、私を世界の正常な「部品」にしてくれる――。<br>
                  ある日、婚活目的の新入り男性、白羽がやってきて、そんなコンビニ的生き方は「恥ずかしくないのか」とつきつけられるが……。<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;現代の実存を問い、正常と異常の境目がゆらぐ衝撃のリアリズム小説。<br>
                  （Ａｍａｚｏｎ「内容紹介」より）</p><br>



                  <p>&nbsp;&nbsp;&nbsp;&nbsp;「『コンビニ人間』、面白そうな名前だなあ」と表題のタイトルにつられ、本屋でそっと手に取り購入したが、読み終えた後、何故か涙腺が弛んでいた。恐らく私もこの物語の主人公「古倉恵子」に自己投影したからだろう。</p>

                  <p>&nbsp;&nbsp;&nbsp;&nbsp;古倉恵子は「正常」と「異常」の区別がつかず、死んでいる青い小鳥を「焼き鳥にして食べようよ」と母に言ったり、ケンカしている男子を止める為にスコップで頭を殴って黙らせたりと、まさに「普通」ではない行動を繰り返すが、彼女にはその普通がわからない。<p>

                  <p>&nbsp;&nbsp;&nbsp;&nbsp;しかし、そんな彼女が唯一自分らしくいられる場所がコンビニであり、コンビニで働いている時だけが、彼女を世界の正常な部品にしてくれる。だが、コンビニ店員としての生活を続けて18年が過ぎ、現在36歳独身、これといった夢や希望も特に無く、周りは「何でアルバイトなの？」「どうして結婚しないの？」と、「こちら側」の人間になるよう求めてくる。</p>

                  <p>&nbsp;&nbsp;&nbsp;&nbsp;本書はそんな一人の主人公（コンビニ人間）の「普通」と「異常」の狭間で悩む葛藤を描いた小説だが、主人公の性格については冒頭で紹介した通り、大半の方が「普通ではない」と思ったのではないだろうか。<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;私はそう感じた方にこそ、是非この作品を手にとって読んで欲しいと切に思う。それは、「普通は…」という同質性を利用しただけの言葉に苦しむ者の感情が、主人公の古倉恵子を通し如実に表現されているからだ。</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;例えば</p>

                  <p class="text_quotation">&nbsp;&nbsp;&nbsp;&nbsp;
                  「そのとき、私は、初めて、世界の部品になることができたのだった。私は、今、自分が生まれたと思った。世界の正常な部品としての私が、この日、確かに誕生したのだった。」</p>

                  <p class="text_quotation">「皆が不思議がる部分を、自分の人生から消去していく。それが治るということなのかもしれない。」
                  など</p>

                  <p>&nbsp;&nbsp;&nbsp;&nbsp;人の考え方・好み・性格といったものは、まさに十人十色そのもので、人に迷惑をかけていない以上、誰も土足で人のテリトリーを踏み荒らし、執拗に「あちら側の人間」を「こちらの世界」に引きずり込む権利はないだろう。</p>

                  <p>&nbsp;&nbsp;&nbsp;&nbsp;そんな、普通病とも言うべき社会を風刺した本作は、対象者問わず、是非誰もが一度は手にとって読んでもらいたいと思った図書です。</p>
                </article>
                  <div class="nav_article_picture  text-center hover_opacity" >
                    <a href="https://goo.gl/UFEcFr" target="_blank">
                      <img src="/assets/Book/book/convenience-human.jpg" alt="" style="width:230px; height: 300px; margin-top: 20px;" >
                    </div>
                    <p class="float_clear text-center" style="margin-top: 5px;">2018/9/4 文庫出版（文藝春秋）</p>
                  </a>
                <br>
              </div>
            </p>
          </div>
          <div class="card-footer text-right" style="">Update 2018/9/30</div>
        </div>
      </div>

      <%= render partial: "render/common_popular" %>

</div>
</div>
</div>
</div>

<%= render partial: "render/common_pagination_book_1" %>

</body>

</html>
