<div class="col-md-3">
  <div class="card">
    <h4 class="card-header bg-warning text-white text-center">9月人気記事</h4>
    <div class="card-body text-center" style="">
      <img src="/assets/popular/Essay-time-thief.jpg" class="mr-md-4 clearfix" style="height:100px; max-width: 100%; margin: 15px 0px!important;">
      <h5 class="card-title text-center"><%= link_to '1.時間泥棒の正体', '/essay/essay4.html' %></h5>
    </div>
    <div class="">
      <div class="card-body text-center" style="">
        <img src="/assets/popular/Essay-AmazingGrace.jpg" class="mr-md-4 clearfix" style="height:100px; width: auto; margin: 0px 0px 15px 0px!important;">
        <h5 class="card-title text-center"><%= link_to '2.「アメイジング・グレイス」と「ジョン・ニュートン」', '/essay/essay5.html' %></h5>
      </div>
    </div>
    <div class="">
      <div class="card-body text-center" style="">
        <img src="/assets/popular/Essay-prime-number.jpeg" class="mr-md-4 clearfix" style="height:100px; width: auto; margin: 0px 0px 15px 0px!important;">
        <h5 class="card-title text-center"><%= link_to '3.「素数大富豪」と「リーマン予想」', '/essay/essay1.html' %></h5>
      </div>
    </div>
  </div>
</div>
