<body>

<nav>

  <%= render partial: "render/common_nav" %>

</nav>

<div class="container" style="margin-top: 15px;">
 <div class="row ">
   <div class="col-md-12">
     <div class="row">
       <div class="col-md-9" style="margin-bottom: 15px;">
        <div class="card" style="background: #e9e9e9;">
          <div class="card-body">
            <div class="jumbotron nav_nav_subtitle_picture"
            style="background-image: url(<%= asset_path "common/article-background.jpg"%>); background-size:1500px 250px;">
            <div class="text-center" style="font-size: 60px;"><strong>Essay</strong></div>
          </div>
          <h1 class="text-center"><strong>「素数大富豪」と「リーマン予想」</strong></h1>
          <span class="subtitle text-center"><strong></strong></span>
          <p class="card-text">
            <div class="article_nav_content">
              <article class="article_margin">
               <p>&nbsp;&nbsp;&nbsp;&nbsp;最近、はまっているカードゲームがある。その名も「素数大富豪」。このゲームはニコニコ超会議に参加した時の催しで初めて知ったのだが、思った以上に面白い。<br></p>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;ルール自体は「大富豪」と変わらないが、出すカードをすべて素数に限定するという恐ろしく頭を使うゲームなのだ。当然、偶数は扱いにくいカードになり、奇数は貴重なカードとなる。これらのカードをどのようにうまく組み合わせ素数を作るかで勝敗が決まるのだが、思考時間も一人20秒までと決まっており、4桁以上の素数を作って失敗したらより多くのカードをペナルティとして引かなければならないなどの決まりもある。<br></p>
               <p>&nbsp;&nbsp;&nbsp;&nbsp;そんな頭がフル回転する「素数大富豪」に最近興じているわけだが、私はその時、「リーマンさん」のことをふっと思い出す。リーマンさんとは別に私の親戚でもなければ友達でもない。数学界のミレニアム問題の一つ『リーマン予想』を世に送り出した生みの親の名前がリーマンさんなのだ。<br></p>
               <div class="clearfix" >
                <img src="/assets/Essay/essay/riemann-hypothesis1.jpg" alt="" style="max-width:100%; height:350px; width: auto; margin-right: 50px;" class="float_left">
                <h1 style="font-family: 'Gaegu', cursive; font-size: 50px; color:#FF4F02;"><strong>Bernhard Riemann</strong></h1>
              </div>
              <br>
              <p class="" style="padding-top: 5px; font-size: 16px;">画像出典：Wikipedia</p>
              <p class="" style="padding-top: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;ミレニアム問題とは2000年にアメリカのクレイ数学研究所によって発表された7つの数学の未解決問題のことだが、なんと1問の証明につき100万ドルの懸賞金がかけられている（そのうちの一つ、ポアンカレ予想は2006年にグレゴリー・ペレルマンによって証明済み）。そして、私が思いをはせるリーマンさんのリーマン予想はミレニアム問題の一つというわけである。</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;すでにお気づきかもしれないが、リーマン予想は「素数」に関する問題で、1859年に発表されて以来、未だ証明されていない。しかもこの難問は、数々の伝説的な数学者（オイラーやアラン・チューリングなどなど）も挑戦したが、それでも解明には至らず、挙句の果ては、リーマン予想を証明できないばかりに精神を病み、自殺に追い込まれた数学者さえもいるのだ。</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;しかし、リーマン予想が証明されてしまうとそれはそれで問題で、素数の不規則性を利用した暗号システム（主にＲＳＡ暗号、クレジットカードとかに使われている）が使えなくなってしまう。。。なのでアメリカでは、国家安全保障局が素数に関する論文や会合に目を光らせているそうだ。</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;こんな数学を巡るドラマチックな話をもっと昔に知っておけば数学をもっと勉強したかもなあ、と今更ながら思っているのである。</p>
            </article>
              <div class="" >
              <div class="nav_article_picture" style="text-align: center;">
                <img src="/assets/Essay/essay/riemann-hypothesis2.jpg" alt="" style="width:100% ; height: 300px; max-width: 500px;">
              </div>
            </div>
            <div class="Reference materials" style="margin-top: 50px;">
            <p><strong>参考資料</strong></p>
            <p>ＮＨＫスペシャル 『魔性の難問 リーマン予想・天才たちの闘い』 2009年放送</p>
            <div class="URL" >
              <a href="http://www.ajimatics.com/entry/2017/04/29/010952" target="_blank">
                <p class="">素数大富豪とは？初心者のためのルール＆ちょっとしたコツ集</p>
              </a>
            </div><br>
            <p><strong>参考図書</strong></p>
            <p style="margin-bottom: 30px;">Marcus du Sautoy, マーカスデュ・ソートイ(2013) 『素数の音楽』 (冨永 星訳) 新潮社</p>
            </div>
          </div>
        </p>
      </div>
      <div class="card-footer text-right" style="">Update 2018/8/28</div>
    </div>
  </div>

<%= render partial: "render/common_popular" %>

</div>
</div>
</div>
</div>

<%= render partial: "render/common_pagination_1" %>

  </body>

  </html>
