<body>

  <nav>

    <%= render partial: "render/common_nav" %>

  </nav>

  <div class="container-fluid">        <!-- 全体を囲むコンテナ -->

    <div class="jumbotron nav_subtitle_picture"
    style="background:url(<%= asset_path "contact/Contact-background.jpg" %>); background-size:1550px 300px;">
    <h1 class="text-center" style="font-size: 63px;"><strong>Contact</strong></h1>
    </div>

    <div>
      <h1 class="page-header" style="padding-left: 70px;">お問い合わせ</h1>
      <p class="text-center" style="font-size: 26px; line-height: 2.8; margin-top: 70px;">
      Life Academicでは、<br>随時、アカデミックなテーマ、本記事へのご意見、感想を受け付けています
      </p>
      <p class="text-center" style="font-size: 26px; line-height: 2.8;">また、編集者はプログラミングと床貼りを嗜んでいます。<br>
      自身でHPを作成してみたい方、そもそもプログラミングとはどのようなものか知りたい方、<br>床のフローリングを検討していらっしゃる方は<br>相談致しますので、お気軽にご連絡ください。</p>
    </div>

    <div class="text-center" style="margin: 60px;">
      <a href="https://goo.gl/forms/tH7ZWfG8UWYXucUo2" class="btn btn-primary btn-lg" target="_blank">お問い合わせフォーム</a>
    </div>


  </div>

</body>
